
.open-sans-normal {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

/* shared style */
.secondary-bg{
    background-color:#FFF8F3 ;
    
}
.text-primary{
    color: #FD6E0A;
}
.dark-1{
    color: #181818;
}
.dark-2{
    color: #474747;
}
.dark-3{
    color: #757575;
}
.section-title{
    font-weight: bold;
    font-size: 35px;
    color: #181818;
}
.section-description{
    font-size: 18px;
     color: #757575;

}
.text-center{
    text-align: center;
}
/* header style */
.developer-bg-photo{
    background-image: url('../images/developer.png'), url('../images/header_bg.png'); 
    background-size: 95px, 720px;
    background-repeat: no-repeat;
    
    
    background-position: top left, bottom right;
    
}
.btn-primary{
    background-color: #FD6E0A;
    font-weight: bold;
    font-size: 20px;
    color: white;
    padding: 18px 35px 19px 36px;
    border-radius: 5px;
    border: none;
}

.btn-contact{
    background-color: #FFF8F3;
    font-weight: bold;
    font-size: 20px;
    color: #FD6E0A;
    padding: 18px 35px 19px 36px;
    border-radius: 5px;
    border-width: thin;
    border-color: #FD6E0A;
}


/* Nav styles */
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px 200px;

}

.nav-title{
    font-weight: 800px;
    font-size: 45px;
    color: #181818;
}
nav ul{
    display: flex;
    align-items: center;
}
nav ul li{
  list-style: none;
  margin-right: 51px;

}
nav li a{
    text-decoration: none;
    font-size: 20px;
   
}
/* banner styles */
.banner{
    display: flex;
    justify-content: space-between;
    margin: 0 35px 0 200px;
}
.baneer-contect{
    max-width: 580px;
}
.banner-greetings{
    font: size 45px;
    font-weight: 600px;
}
.banner-title{
    font-size: 85px;
    font-weight: bold;
}
.banner-profile-pic{
    width: 500px;
}
.banner-description{
    font-size: 18px;
    font-weight: 400px;
}
/* about styles */
main{
 max-width: 1140px;
 margin: 0 auto;
}
main section{
     margin-top: 130px;
     margin-bottom: 130px;
}
.about{
    border-radius: 10px;
    padding: 130px 150px;
    text-align: center;
   
}
.about-itmes{
    display: flex;
    justify-content: space-around;
    margin: 0;
    
}
.item-description{
    font-weight: 600;
    
}
/* skills-section */
.skills-container{
    display: flex;
    gap: 24px;
}
.skill{
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
}
/* resume section style  */
.section-title{
    text-align: center;
}
.resumr-container{
    display: flex;
    gap: 24px;
}
.resume-column-title{
    font-size: 30px;
    font-weight: bold;
    color: #474747;
    margin-bottom: 30px;
}
.experience-title{
    font-size: 25px;
    font-weight: bold;
    color: #474747;
    margin-bottom: 10px;
}
.experience-sub-title{
    font-size: 20px;
    font-weight: 600;
    color: #757575;
    margin-bottom: 20px;
}
.ecperience-description{
    font-size: 16px;
    color: #757575;
    
}
.resume-download-cv{
    margin: 50px;

}
/* footer styles */
footer{
    display: flex;
    padding: 75px 120px;
    gap: 100px;
}
.footer-column{
    width: 50%;
}
input[type="text"], footer input[type="email"], footer textarea{
    height: 64px;
    border-radius: 5px;
    background-color: white;
    color: #757575;
    display: block;
    width: 100%;
    padding: 7px 15px;
    margin-bottom: 15px;
    border: none;
    text-align: left, center;
}